* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 600;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: black;
}

body > div {
    padding: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#ongoing {
    color: orange;
}

#next {
    background-color: bisque;
    color: blue;
}

div.link-container {
    flex: 1 1 auto;
}

title {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2rem;
    text-align: left;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-size: 4rem;
    font-weight: 600;
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a[href].link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

span {
    text-align: center;
    display: inline-block;
    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

span:first-of-type {
    overflow-y: auto;
    letter-spacing: 5px;
    font-size: 1rem;
}

.footnote {
    text-align: center;
    font-size: 1.5rem;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}